.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Electron-builder output
/dist_electron

#electron-forge make output
/out
.eslintcache
my-tools-win32-x64/chrome_100_percent.pak
my-tools-win32-x64/chrome_200_percent.pak
my-tools-win32-x64/d3dcompiler_47.dll
my-tools-win32-x64/ffmpeg.dll
my-tools-win32-x64/icudtl.dat
my-tools-win32-x64/libEGL.dll
my-tools-win32-x64/libGLESv2.dll
my-tools-win32-x64/LICENSE
my-tools-win32-x64/LICENSES.chromium.html
my-tools-win32-x64/my-tools.exe
my-tools-win32-x64/resources.pak
my-tools-win32-x64/snapshot_blob.bin
my-tools-win32-x64/v8_context_snapshot.bin
my-tools-win32-x64/version
my-tools-win32-x64/vk_swiftshader_icd.json
my-tools-win32-x64/vk_swiftshader.dll
my-tools-win32-x64/vulkan-1.dll
my-tools-win32-x64/locales/af.pak
my-tools-win32-x64/locales/am.pak
my-tools-win32-x64/locales/ar.pak
my-tools-win32-x64/locales/bg.pak
my-tools-win32-x64/locales/bn.pak
my-tools-win32-x64/locales/ca.pak
my-tools-win32-x64/locales/cs.pak
my-tools-win32-x64/locales/da.pak
my-tools-win32-x64/locales/de.pak
my-tools-win32-x64/locales/el.pak
my-tools-win32-x64/locales/en-GB.pak
my-tools-win32-x64/locales/en-US.pak
my-tools-win32-x64/locales/es-419.pak
my-tools-win32-x64/locales/es.pak
my-tools-win32-x64/locales/et.pak
my-tools-win32-x64/locales/fa.pak
my-tools-win32-x64/locales/fi.pak
my-tools-win32-x64/locales/fil.pak
my-tools-win32-x64/locales/fr.pak
my-tools-win32-x64/locales/gu.pak
my-tools-win32-x64/locales/he.pak
my-tools-win32-x64/locales/hi.pak
my-tools-win32-x64/locales/hr.pak
my-tools-win32-x64/locales/hu.pak
my-tools-win32-x64/locales/id.pak
my-tools-win32-x64/locales/it.pak
my-tools-win32-x64/locales/ja.pak
my-tools-win32-x64/locales/kn.pak
my-tools-win32-x64/locales/ko.pak
my-tools-win32-x64/locales/lt.pak
my-tools-win32-x64/locales/lv.pak
my-tools-win32-x64/locales/ml.pak
my-tools-win32-x64/locales/mr.pak
my-tools-win32-x64/locales/ms.pak
my-tools-win32-x64/locales/nb.pak
my-tools-win32-x64/locales/nl.pak
my-tools-win32-x64/locales/pl.pak
my-tools-win32-x64/locales/pt-BR.pak
my-tools-win32-x64/locales/pt-PT.pak
my-tools-win32-x64/locales/ro.pak
my-tools-win32-x64/locales/ru.pak
my-tools-win32-x64/locales/sk.pak
my-tools-win32-x64/locales/sl.pak
my-tools-win32-x64/locales/sr.pak
my-tools-win32-x64/locales/sv.pak
my-tools-win32-x64/locales/sw.pak
my-tools-win32-x64/locales/ta.pak
my-tools-win32-x64/locales/te.pak
my-tools-win32-x64/locales/th.pak
my-tools-win32-x64/locales/tr.pak
my-tools-win32-x64/locales/uk.pak
my-tools-win32-x64/locales/ur.pak
my-tools-win32-x64/locales/vi.pak
my-tools-win32-x64/locales/zh-CN.pak
my-tools-win32-x64/locales/zh-TW.pak
my-tools-win32-x64/resources/app/.browserslistrc
my-tools-win32-x64/resources/app/.editorconfig
my-tools-win32-x64/resources/app/.eslintignore
my-tools-win32-x64/resources/app/.eslintrc.js
my-tools-win32-x64/resources/app/.gitignore
my-tools-win32-x64/resources/app/babel.config.js
my-tools-win32-x64/resources/app/forge.config.js
my-tools-win32-x64/resources/app/package.json
my-tools-win32-x64/resources/app/postcss.config.js
my-tools-win32-x64/resources/app/tsconfig.json
my-tools-win32-x64/resources/app/vue.config.js
my-tools-win32-x64/resources/app/public/favicon.ico
my-tools-win32-x64/resources/app/public/index.html
my-tools-win32-x64/resources/app/src/App.vue
my-tools-win32-x64/resources/app/src/background.ts
my-tools-win32-x64/resources/app/src/main.ts
my-tools-win32-x64/resources/app/src/preload.js
my-tools-win32-x64/resources/app/src/shims-tsx.d.ts
my-tools-win32-x64/resources/app/src/shims-vue.d.ts
my-tools-win32-x64/resources/app/src/store.ts
my-tools-win32-x64/resources/app/src/common/copyText.js
my-tools-win32-x64/resources/app/src/components/sideBar.vue
my-tools-win32-x64/resources/app/src/router/index.ts
my-tools-win32-x64/resources/app/src/router/routers.ts
my-tools-win32-x64/resources/app/src/views/AboutPage.vue
my-tools-win32-x64/resources/app/src/views/speechConvert.vue
